.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: #aed36c;
    color: #295d09;
    border-radius: 20px;
    padding: 20px;
    min-width: 25%;
    margin: 20px 30px;
}

.title {
    flex: 1;
    text-align: center;
}

.price {
    flex: 1;
    margin-top: 10px;
    text-align: center;
}