.container {
    background-color: #69ab3d;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    min-width: 200px;
    margin-bottom: 5px;
}

.imagesContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.quantityIcons {
    font-size: 24px;
}

.removeButton {
    background-color: #aed36c;
    color: #295d09;
    margin-top: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 150px;
    font-weight: bold;
}

.removeButton:hover {
    background-color: #ffffff;
    color: #69ab3d;
}