.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px 2rem;
    background-color: #e9ebed;
    color: #69ab3d;
}

.title {
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex: 1;
}