html,
body {
    padding: 0;
    margin: 0;
    font-family: IBMPlexSans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
    color: white;
    background-image: linear-gradient(#295d09, #aed36c, #aed36c, #295d09);
    background-size: cover;
    background-attachment: fixed
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

:root {
    --dark-green: #295d09;
    --middle-green: #69ab3d;
    --light-green: #aed36c;
    --text-black: #000000;
    --white-color: #e9ebed;
}

p {
    font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

.page-container {
    padding: 40px 11%;
}

.navigation-top {
    background-color: #69ab3d;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-center {
    background-color: #e9ebed;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 30px 10px;
}

.business-directory {
    position: relative;
    top: -8px;
}

.navigation-bottom {
    background-color: #69ab3d;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navigation-link {
    font-size: 18px;
    height: 50px;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-link:hover {
    border-top: #FDC226 solid 3px;
    color: #FDC226;
}

.footer {
    background-color: #69ab3d;
    padding: 10px 20px;
    text-align: center;
}